<h2 class="today">Today</h2>
<div class="today">
  <div class="day">
    {{ components.day_name }}
  </div>
  <div class="date">
    <div class="standard-date">
      {{ components.day_number }} {{ components.month }} {{ components.year }}
    </div>
    <div class="term-date">
      {{ components.week }}{{ components.ordinal }} week {{ components.term_long }}
    </div>
  </div>
</div>

<div class="free-text">
  <h3>Welcome to the new Mobile Oxford preview!</h3>
  <p>This preview release incorporates some of the core functionality of the old Mobile Oxford but in a more modern application architecture that can better target the fast evolving range of mobile devices on the market. In this preview you'll find a comprehensive search for places in the city and University, including real time bus information, a graduate courses directory (outputs from the JISC CoBoMo project), location sensitive livbrary search and a favourites system.</p>

  <h4>Technology</h4>
  <p>The software has been written from scratch using best practice and some of the latest technologies including Solr 4, Python + Flask, HTML5 responsive design, Backbone.js and Handlebars. You can see the code at <a href="http://github.com/ox-it/moxie" target="_blank">server repository</a> and <a href="http://github.com/ox-it/moxie-js-client" target="_blank">client repository</a></p>
  <p>As a preview there are likely to be plenty of bugs and issues. We would love to hear your feedback via <a href="mailto:mobileoxford@it.ox.ac.uk">mobileoxford@it.ox.ac.uk</a></p>
  <h4>Key Roadmap Highlights</h4>
  <ol>
    <li>Replicate functionality available in old Mobile Oxford</li>
    <li>Deploy iOS native application to App Store</li>
    <li>Deploy Android native application to Play Store</li>
  </ol>
  <h4>Devices/browsers we do not currently support</h4>
  <p><strong>Desktop browsers</strong>, Windows Mobile/Phone, Blackberry, WebOS, Bada, Symbian, MeeGo, Windows 8 RT, Maemo, Firefox OS, Ubuntu phone. However, if any of these <em>do</em> work please let us know!</p>
  <p>At this stage we are taking the approach of targetting <a href="http://bgr.com/2012/12/04/mobile-market-share-2012-android/" target="_blank">87.1% of the smartphone/tablet landscape</a> first (Android + iOS) and then moving onto the smaller players. Due to the massive variation between Android devices, some Android users may find quirks and inconsistencies on how the application operates.</p>

</div>