<div class="day">{{ components.day_name }}</div>
<div class="date">
    <div class="standard-date">{{ components.day_number }} {{ components.month }} {{ components.year }}</div>
    <div class="term-date">{{ components.week }}{{ components.ordinal }} week {{ components.term_long }}</div>
</div>