{{#results}}
<li data-lon={{ lon }} data-lat={{ lat }}>
<h5>{{ name }}{{openingHours opening_hours }}</h5>
<p class="metadata">{{ address }}</p>
<p class="metadata">{{ phone }}</p>
<p class="metadata">{{ website }}</p>
<p class="metadata">{{humaniseDistance distance }} away</p>
</li>
{{/results}}
