{{#if query}}
    <h2 class="free-heading">{{ query }}</h2>
{{/if}}

{{#if courses}}
    <ul class="results-list">
    {{#courses}}
        <a href='#/courses/detail/{{ id }}'><li>{{ title }}
        <span class="subtext">{{ provider }}</span></li>
        </a>
    {{/courses}}
    </ul>
{{else}}
    <p>Sorry, no results for your query.</p>
{{/if}}