<div class="search-input">
    <input type="text" id="input_search" placeholder="Search places..." name="q">
    <span class="deleteicon fa fa-times-circle-o"></span>
</div>

{{#if category.type_name_plural}}
<h2 class="free-heading" id="category_title">{{ category.type_name_plural }}</h2>
{{else}}
<h2 class="free-heading" id="category_title">Places</h2>
{{/if}}

{{#if types}}
<ul class="results-list" id="categories">
{{#types}}
    <li>
    {{#if hasTypes}}
        {{! If this category has any sub-categories, place a link to them }}
        {{#if ../../category_name}}
            <a href="#places/search?type={{ type_prefixed }}">
        {{else}}
            <a href="#places/categories{{ type_prefixed }}">
        {{/if}}
    {{else}}
        <a href="#places/search?type={{ type_prefixed }}">
    {{/if}}
    <h3>{{ type_name }}</h3>
    {{#if description}}
        <p class="subtext">{{ description }}</p>
    {{/if}}
    </a></li>
{{/types}}
</ul>
{{else}}
<img src="images/preloader.gif" class="preloader">
{{/if}}
