<div class="free-text">
	{{#if poi.attributes.name}}
		<h2>{{ poi.attributes.name }}</h2>
		<p class="type">{{ poi.attributes.type_name }}
		{{#if poi.attributes.opening_hours}}
			{{{currentlyOpen poi.attributes.opening_hours}}}
		{{/if}}
		</p>
	{{else}}
		<h2>{{ poi.attributes.type_name }}</h2>
		{{! opening_hours should be a string if it exists}}
		{{# if poi.attributes.opening_hours}}
			<p class="type">{{{currentlyOpen poi.attributes.opening_hours}}}</p>
		{{/if}}
	{{/if}}

	{{#if poi.attributes.collection_times}}
	    <p class="type">{{{collectionTimes poi.attributes.collection_times}}}</p>
	{{/if}}

	<p class="metadata">
		{{#if poi.attributes.address}}{{ poi.attributes.address }}{{/if}}
	</p>
	<p class="metadata">
		{{#if poi.attributes.opening_hours}}{{ poi.attributes.opening_hours }}<br />
		{{/if}}
		{{#if poi.attributes.collection_times}}
		<p>Collection times: {{ poi.attributes.collection_times }}</p>
		{{/if}}
		{{#if poi.attributes.phone}}<a class="meta-action-button tel" href="tel:{{ poi.attributes.phone }}">{{ poi.attributes.phone }}</a>{{/if}}
		{{#if poi.attributes.website}}<a class="meta-action-button" href="{{ poi.attributes.website }}">Website</a>{{/if}}
	</p>

	{{#if rti }}
	<div id="poi-rti">
	</div>
	{{/if}}

	{{! Links to parents and children }}
	{{#if poi.attributes._links.parent}}
		Parent: <a href="#{{ poi.attributes._links.parent.href }}">{{ poi.attributes._links.parent.title }} {{#if poi.attributes._links.parent.type_name}}({{ poi.attributes._links.parent.type_name }}){{/if}}</a>
	{{/if}}
	{{#if poi.attributes._links.child}}
		<dl>
			<dt>Children</dt>
		{{#poi.attributes._links.child}}
			<dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
		{{/poi.attributes._links.child}}
		</dl>
	{{/if}}

</div>
