{{#if poi.midFetch }}
<img src="images/preloader.gif" class="preloader">
{{/if}}
<div class="free-text">
	{{#if poi.name }}
		<h2>{{ poi.name }}</h2>
		<p class="type">{{ poi.type_name }}
		{{#if poi.opening_hours }}
			{{{currentlyOpen currentlyOpen}}}
		{{/if}}
		</p>
	{{ else }}
		<h2>{{ poi.type_name }}</h2>
		{{! opening_hours should be a string if it exists}}
		{{# if poi.opening_hours }}
			<p class="type">{{{currentlyOpen poi.opening_hours}}}</p>
		{{/if}}
	{{/if}}

	{{#if poi.collection_times }}
	    <p class="type">{{{collectionTimes poi.collection_times}}}</p>
	{{/if}}

	<p class="metadata">
		{{#if poi.address }}{{ poi.address }}{{/if}}
	</p>
</div>
{{#if poi.RTI}}
	<div class="rti">
    {{#if multiRTI}}
    <h3>{{ currentRTI.title }}
        {{#if alternateRTI}}
        ({{#alternateRTI}}<a href="#/places/{{../poi.id}}?rti={{type}}">{{ title }}</a>{{/alternateRTI}})
        {{/if}}
    </h3>
    {{/if}}
        <div id="poi-rti">
            <img src="images/preloader.gif" class="preloader" width="15" height="15">
        </div>
	</div>
{{/if}}

<div class="free-text">
	<p class="metadata">
		{{#if poi.opening_hours }}{{{formatOpeningHours poi.opening_hours parsedOpeningHours }}}<br />
		{{/if}}
		{{#if poi.collection_times}}
		<p>Collection times: {{ poi.collection_times }}</p>
		{{/if}}
	</p>

	{{! Buttons for phone or website }}
	{{! TODO only make this div visible if either phone or website exist }}
	<div class="metadata-buttons">
		{{#if poi.phone}}<a class="action-button tel" href="tel:{{ poi.phone }}"><i class="fa fa-phone"></i> {{ poi.phone }}</a>{{/if}}
		{{#if poi.website}}<a class="action-button web" href="{{ poi.website }}" target="_blank"><i class="fa fa-external-link"></i> Website</a>{{/if}}
	</div>

    {{#if poi.library_opening_hours_termtime }}
        <h3>Opening hours</h3>
        <p class="metadata"><strong>Term time</strong>: {{ poi.library_opening_hours_termtime }}</p>
        {{#if poi.library_opening_hours_vacation }}
            <p class="metadata"><strong>Vacation</strong>: {{ poi.library_opening_hours_vacation }}</p>
        {{/if}}

        {{#if poi.library_opening_hours_closed }}
            <p class="metadata"><strong>Closed</strong>: {{ poi.library_opening_hours_closed }}</p>
        {{/if}}
    {{/if}}

    {{#if poi.library_policy_academic }}
        <h3>Admission policies</h3>
        <p class="metadata"><strong>Academic</strong>: {{ poi.library_policy_academic }}</p>
        {{#if poi.library_policy_undergraduate }}
            <p class="metadata"><strong>Undergraduate</strong>: {{ poi.library_policy_undergraduate }}</p>
        {{/if}}
        {{#if poi.library_policy_postgraduate }}
            <p class="metadata"><strong>Postgraduate</strong>: {{ poi.library_policy_postgraduate }}</p>
        {{/if}}
        {{#if poi.library_policy_other }}
            <p class="metadata"><strong>Other</strong>: {{ poi.library_policy_other }}</p>
        {{/if}}
    {{/if}}

    {{#if poi.library_subject }}
        <h3>Subjects</h3>
        <ul>
        {{#poi.library_subject}}
        <li>{{this}}</li>
        {{/poi.library_subject}}
        </ul>
    {{/if}}

	{{! Links to parents and children }}
	<dl>
	{{#if containedBy}}
		<dt>Contained by</dt>
        {{#containedBy}}
		<dd>
			<a href="#{{ href }}">{{ title }} {{#if type_name}}({{ type_name }}){{/if}}</a>
		</dd>
        {{/containedBy}}
	{{/if}}
	{{#if poi._links.child}}
		<dt>Contains</dt>
		{{#poi._links.child}}
		<dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
		{{/poi._links.child}}
	{{/if}}
	</dl>
</div>
