<div class="free-text">
	<h3>{{ poi.attributes.name }}</h3>
	<strong>{{ poi.attributes.type_name }}</strong>
	{{#if poi.attributes.address }}
	<p>{{ poi.attributes.address }}</p>
	{{/if}}
	{{#if poi.attributes.phone }}
	<p><a href="tel:{{ poi.attributes.phone }}">{{ poi.attributes.phone }}</a></p>
	{{/if}}
	{{#if poi.attributes.website }}
	<p><a href="{{ poi.attributes.website }}">{{ poi.attributes.website}}</a></p>
	{{/if}}
	{{#if poi.attributes.opening_hours }}
	<p>{{ poi.attributes.opening_hours }}{{openingHours poi.attributes.opening_hours }}</p>
	{{/if}}
	{{#if poi.attributes.hasRti }}
	<div id="poi-rti">
	</div>
	{{/if}}
</div>
