<a href="#/places/{{ id }}">
    {{#if name }}
        <h3>{{ name }}</h3>
        <p class="type">{{ type_name }}
        {{# if opening_hours }}
            {{{currentlyOpen opening_hours}}}
        {{/if}}
        </p>
    {{ else }}
        <p class="type">{{ type_name }}
        {{! opening_hours should be a string if it exists}}
        {{# if opening_hours }}
            <p class="type">{{{currentlyOpen opening_hours}}}</p>
        {{/if}}
    {{/if}}
    {{# if collection_times }}
        <p class="type">{{{collectionTimes collection_times}}}</p>
    {{/if}}
    {{#if address }}
            <p class="metadata">{{ address }}</p>
    {{/if}}
    <p class="metadata">{{humaniseDistance distance }}</p>
</a>
