<div class="search-input">
    {{#if query.type}}
    <input type="text" placeholder="Search within {{query.type}}" name="q" value="{{query.q}}">
    {{else}}
    <input type="text" placeholder="Places search" name="q" value="{{query.q}}">
    {{/if}}
    <span class="deleteicon ss-delete"></span>
</div>
<ul class="facet-list">
    {{#facets}}
    <li class="label-facet" data-category="{{ name }}">{{ title }}</li>
    {{/facets}}
</ul>
<ul class="results-list">
    {{#unless hasResults}}
    <img src="images/preloader.gif" class="preloader">
    {{/unless}}
</ul>

