{{#if messages}}
    {{#messages}}
    <p>{{{ this }}}</p>
    {{/messages}}
{{/if}}

{{#if services}}
<img src="images/preloader.gif" id="rti-load" class="preloader" width="15" height="15">
<table id="train-rti">
    <tbody>
    {{#services}}
    <tr>
        {{#if std}}
            {{#if delayed}}
            <td class="service-std delayed">{{ etd }}</td>
            {{else}}
            <td class="service-std">{{ std }}</td>
            {{/if}}
        {{/if}}
        {{#if sta}}
            {{#if delayed}}
            <td class="service-sta delayed">{{ eta }}</td>
            {{else}}
            <td class="service-sta">{{ sta }}</td>
            {{/if}}
        {{/if}}
        <td class="service-destination" colspan="2">{{#destination.location}}{{ locationName }}{{/destination.location}}</td>
        <td class="service-platform">{{#if platform}}Plat. {{ platform }}{{/if}}</td>
    </tr>
    {{/services}}
    </tbody>
</table>
{{#if lastUpdatedFormatted}}
<div class="last-updated">updated: {{ lastUpdatedFormatted }}</div>
{{/if}}
{{/if}}
