<div id="cover" class="security">
	<h2>Safety and Security</h2>
</div>

<div class="card-container">

<div class="card">
	<h3>Numbers</h3>
	<ul class="results-list">
		<li><a href="tel:112" title="Emergency Services (same as 999)" class="ss-standard ss-phone">Emergency <span class="subtext">112</span></a></li>
		<li><a href="tel:+441865289999" title="University security (emergency)" class="ss-standard ss-phone">University emergency <span class="subtext">01865 (2)89999</span></a></li>
		<li><a href="tel:+441865272944" title="University security (non-emergency)" class="ss-standard ss-phone">University non-emergency<span class="subtext">01865 (2)72944</span></a></li>
		<li><a href="tel:101" title="Local police (non-emergency)" class="ss-standard ss-phone">Police (non-emergency)<span class="subtext">101</span></a></li>
	</ul>
</div>

{{#if feed}}
<div class="card">
    <h3>News</h3>

    {{#if entries}}
    <ul class="results-list">
        {{#entries}}
        <li>
            <a href="#news/{{ ../feed.slug }}/{{ slug }}/">
                <h4>{{ title }}</h4>
                <span>Posted: {{ dateFormat publishedDate }}</span>
                <p>{{{ contentSnippet }}}</p>
            </a>
        </li>
        {{/entries}}
    </ul>
    {{else}}
    <div id="loading">
        <img src="images/preloader.gif" class="preloader">
    </div>
    {{/if}}
</div>
{{/if}}


<div class="card">
	<h3>Oxford University Security<span class="strapline">Delivering safety and security through effective prevention, reassurance and response</span></h3>
	<div class="padded-contents">
		<p>We have compiled the following advice to help keep you safe and secure whilst in Oxford. We recommend that after reading that you register your valuables .</p>
	</div>
</div>

<div class="card padded-card" id="register-items">
	<h3>1. Register/track your belongings</h3>
	<div class="padded-contents">
		<h4>Register laptops, phones etc</h4>
		<p>We recommend you register these items at <a href="https://www.immobilise.com" title="Immobilise" target="_blank" class="ss-standard ss-action">Immobilise</a> which is a national database of items accessible to law enforcement which will be cross referenced when stolen goods have been found or recovered.</p>

		<h4>Register cycles</h4>
		<p>Contact <a href="tel:+441865272944" title="Call University security" class="ss-standard ss-phone">University security</a> and ask us about marking your bike with a unique code that ensures that the Police will be able to trace your bike back to you if it is stolen and recovered.</p>

		<h4>Tracking your computer or phone</h4>
		<p>There are a number of tracking apps available, we recommend using <a href="http://preyproject.com/" title="Prey mobile phone tracking app" target="_blank" class="ss-standard ss-action">Prey</a> which will use your device's GPS or WiFi to locate it and can even photograph your thief using the device's camera. If you're using an Apple device <a href="https://itunes.apple.com/gb/app/find-my-iphone/id376101648?mt=8" title="Find my iPhone on the App Store" target="_blank" class="ss-standard ss-action">Find my iPhone</a> will help you track and <em>disable/wipe</em> your lost devices (works for most Apple devices, not just iPhones).</p>
	</div>
</div>

<div class="card">
	<h3>2. Personal Safety</h3>
	<div class="padded-contents">
		<p>The following helps you think about your own personal situation and to take responsibilities for your safety in your surroundings.</p>
		<ul>
			<li>Report incidents of suspicious packages, people or anything else security related to <a href="tel:+441865272944" title="Call University security" class="ss-standard ss-phone">University security</a></li>
			<li>If you are witnessing a crime taking place around the University call the <a href="tel:+441865289999" title="Call University security emergency" class="ss-standard ss-phone">University security emergency number</a> or call the Police on 112.</li>
			<li>Never let people know passwords to your computers or online services.</li>
			<li>Don't divulge your banking PIN numbers to anyone, even your friends.</li>
			<li>Please don't wedge doors open that are locked or require fob/swipe access.</li>
		</ul>
		<h4>Out and about</h4>
		<ul>
			<li>Never carry large sums of money or passports with you unless you really need to.</li>
			<li>If you're wearing headphones, please wear only one as this will keep you alert to your surroundings.</li>
			<li>Always try to stay in a group if out at night.</li>
			<li>If you do walk home <em>don't</em> take shortcuts, stay where it is lit and where plenty of people or cars will be passing.</li>
			<li>If someone grabs your bag let them have it as it's better to lose a bag than get injured.</li>
		</ul>
		<h4>If you think you are being followed</h4>
		<ul>
			<li>Walk with confidence, don't look at the ground. Most opportunist offenders will pick on someone that looks vulnerable and not someone who is confident.</li>
			<li>Keep looking behind you, so the person knows that you cannot be surprised.</li>
			<li>Cross the streete and/or change direction.</li>
			<li>If you are on the University estate call <a href="tel:+441865289999" title="Call University security emergency" class="ss-standard ss-phone">University security emergency number</a>.</li>
		</ul>
	</div>
</div>

<div class="card">
	<h3>3. Security</h3>
	<div class="padded-contents">
		<h4>Cycles</h4>
		<p>Unfortunately cycle crime does happen around the University estate, follow these simple tips to keep help your cycle safe.</p>
		<ul>
			<li>Always use a D Lock which is "<a href="http://www.soldsecure.com/" title="Sold Secure's website" target="_blank" class="ss-standard ss-action">Sold Secure</a>". These locks have been tested and are sold as "Bronze", "Silver" and "Gold" which correspond to an attack resistance of 1, 3 or 5 minutes.</li>
			<li>When parking your bike remove any lights, use locking wheel nuts on your wheels and remove the saddle if portable.</li>
			<li>Always lock your bike to cycle hoops or in a secure cycle storage area.</li>
			<li>Don't buy an expensive bike just to ride to University.</li>
		</ul>
		<h4>Belongings in accomodation</h4>
		<ul>
			<li><a href="#register-items" title="Jump to the register items section">Register your belongings</a></li>
			<li>Don't leave laptops or mobile phones in view of open windows, it takes seconds to reach in from the street to grab something.</li>
			<li>Question people trying to get into a house or college hall if you don't recognise them, tailgating is a frequent event in Universities.</li>
			<li>If living in private accomodation, don't always assume that people are friends of friends - they could be opportunists waiting to get into a student house to take laptops, money, phones.</li>
			<li>Backup your work to an external drive that's kept separately to your computer so if the worst happens, at least you will have your work!</li>
		</ul>
	</div>
</div>

</div>
