<strong>{{ subjects }}</strong>
<h3>{{ title }}</h3>
<strong>{{ provider }}</strong>
<p>{{ description }} </p>

<div id="authStatus"></div>

<ul>
{{#presentations}}
<li>
	{{#if start }}
	Starts: {{ dateFormat start }}
	{{/if}}
    {{#if booking_endpoint }}
	<a class="bookLink" data-id="{{ id }}">Book</a>
    {{/if}}
</li>
{{/presentations}}
</ul>