<div id="list" class="free-text">
    {{#if item.attributes.title }}
        <h3>{{ item.attributes.title }}</h3>
    {{/if}}
    <ul>
        {{#if item.attributes.author }}
            <li><strong>Author:</strong> {{ item.attributes.author }}</li>
        {{/if}}
        {{#if item.attributes.publisher }}
            <li><strong>Publisher:</strong> {{ item.attributes.publisher }}</li>
        {{/if}}
        {{#if item.attributes.description }}
            <li><strong>Description:</strong> {{ item.attributes.description }}</li>
        {{/if}}
        {{#if item.attributes.isbns}}
            <li><strong>ISBN:</strong>
            {{#item.attributes.isbns}}
                {{ this }}
            {{/item.attributes.isbns}}</li>
        {{/if}}
        {{#if item.attributes.issns}}
            <li><strong>ISBN:</strong>
            {{#item.attributes.issns}}
                {{ this }}
            {{/item.attributes.issns}}</li>
        {{/if}}
    </ul>

    {{#if holdings}}
    <h4>Holdings</h4>
    <p>Please note that all libraries have admission and borrowing policies; inclusion in this list does not imply access.</p>
    <ul>
        {{#holdings}}
            <li><a href="#{{ location._links.self.href }}">{{ location.name }}</a>: {{holdings.shelfmark}} ({{holdings.availability}} available, {{holdings.availability_display}})</li>
        {{/holdings}}
    </ul>
    {{/if}}
</div>