<div class="free-text">
    {{#if item.attributes.title }}
        <h3>{{ item.attributes.title }}</h3>
    {{/if}}
    <ul>
        {{#if item.attributes.author }}
            <li><strong>Author:</strong> {{ item.attributes.author }}</li>
        {{/if}}
        {{#if item.attributes.publisher }}
            <li><strong>Publisher:</strong> {{ item.attributes.publisher }}</li>
        {{/if}}
        {{#if item.attributes.description }}
            <li><strong>Description:</strong> {{ item.attributes.description }}</li>
        {{/if}}
        {{#if item.attributes.isbns}}
            <li><strong>ISBN:</strong>
            {{#item.attributes.isbns}}
                {{ this }}
            {{/item.attributes.isbns}}</li>
        {{/if}}
        {{#if item.attributes.issns}}
            <li><strong>ISBN:</strong>
            {{#item.attributes.issns}}
                {{ this }}
            {{/item.attributes.issns}}</li>
        {{/if}}
    </ul>

    {{#if holdings}}
    <h4>Holdings</h4>
    <dl>
        {{#holdings}}
        <dt class="library-location">
            {{#if location.name}}
                <a href="#{{ location._links.self.href }}">{{ location.name }}</a>
            {{else}}
                {{code}}
            {{/if}}
        </dt>
            {{#holdings}}
                {{#if availability_display}}
                <dd><span class="{{libraryAvailability availability}}">{{ availability_display }}</span><span class="library-shelfmark">{{ shelfmark }}</span></dd>
                {{else}}
                <dd><span class="{{libraryAvailability availability}}">Unknown</span><span class="library-shelfmark">{{ shelfmark }}</span></dd>
                {{/if}}
            {{/holdings}}
        {{/holdings}}
    </dl>
    <p>Please note that all libraries have admission and borrowing policies; inclusion in this list does not imply access.</p>
    {{/if}}
</div>
