<a href="#/library/item/{{ item.id }}">
    {{#if item.title }}
    <h3 class="book-title">{{ item.title }}</h3>
    {{/if}}
    {{#if item.author }}
    <p class="meta-info"><span class="meta-info-title">Author:</span> {{ item.author }}</p>
    {{/if}}
    {{#if item.publisher }}
    <p class="meta-info"><span class="meta-info-title">Publisher:</span> {{ item.publisher }}</p>
    {{/if}}
    {{#if item.copies }}
    <p class="meta-info"><span class="meta-info-title">Libraries:</span> {{ item.copies }}</p>
    {{/if}}
</a>
